{% extends 'base.html' %}
{% block head %}
<title>Profile Page</title>
{% endblock %} {% block body %}
<div class="container">
  <p>Username: {{ user }}</p>
  <p>First Name: {{ user.first_name }}</p>
  <p>Last Name: {{ user.last_name }}</p>
  <p>Description: {{ user.userprofile.description }}</p>
  <p>Website: {{ user.userprofile.website }}</p>
  <p>Phone: {{ user.userprofile.phone }}</p>
  <p>City: {{ user.userprofile.city }}</p>
  <img src="{{ user.userprofile.image.url }}" width="200 ">
</div>
{% endblock %}
